<footer class="footer position-relative bg-info pt-5">
  <div class="container text-white pb-5">
    <div class="row">

      <!--Footer column About-->
      <div class="col-md-4">
        <div class="container">
          <div class="about-title">
            <h4>A PROPOS</h4>
          </div>
          <div class="about-content">
            <ul class="list-unstyled">
              <li>Formez-vous et développez <br> vos compétences avec BGE<br> pour réussir votre évolution<br> professionnelle</li>
            </ul>
          </div>
        </div>
      </div>

      <!--Footer Navigation-->
      <div class="col-md-4">
        <div class="container">
          <div class="nv-title">
            <h4>MENU</h4>
          </div>
          <div class="nav-content">
            <ul class="list-unstyled">
              <li><a routerLink="/about">A PROPOS</a></li>
              <li><a routerLink="/">HOME</a></li>
              <li><a routerLink="/formation">FORMATION</a></li>
              <li><a routerLink="/contact">CONTACT</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!--Footer Contact-->
      <div class="col-md-4">
        <div class="container">
          <div class="contact-title">
            <h4>CONTACT</h4>
          </div>
          <div class="contact-content">
            <ul class="list-unstyled">
              <li>64 Boulevard Silvio Trentin, <br>31200 Toulouse<br></li>
              <li>Téléphone: 05 61 61 45 10<br>Site:www.formation.bge.fr</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  Footer Bottom copyRights-->
  <div class="footer-bottom text-center no-gutters p-2 bg-dark">
    <div class="container pt-3 pb-3">
      <div class="row">
        <p class="mb-0 mt-0 text-white no-padding">&copy; Copyright 2019 .  All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
