<!--Logout button navigation-->
<li class="float-right text-right col-4">
  <button type="button" class="btn btn-outline-primary " routerLink="/"
          (click)="signOut()" >Deconnexion</button>
</li>
<!--login button navigation-->
