<li class="list-group-item d-flex flex-row align-items-center mt-3 no-padding">
  <div class="col-md-3 no-padding">
    <div class="img">
      <img src="{{profileImage}}">
    </div>
  </div>
  <div class="col-md-9 no-padding">
    <div class="container">
      <div class="content">
        <h4>{{profileFirstName}} {{profileLastName}}</h4>
        <span [ngStyle]="{color: whichJob()}">{{profileFormation}}</span>
        <p>{{profileResume}}</p>
      </div>
    </div>
  </div>
</li>
