<!-- Login page -->
<div class="container-fluid no-padding h-100 w-100 vh">
  <div class="row flex-row h-100 w-100 bg-white mr-0 ml-0">

    <!-- Begin Left Content -->
    <div class="col-xl-8 col-lg-6 col-md-5 no-padding">
      <div class="cvtek-bg background-01">
        <div class="cvtek-overlay overlay-01"></div>
        <div class="col-content justify-content-center p-5 h-100 mb-auto">
          <h1 class="gradient-text-01 text-white">
            Welcome To cvtek!
          </h1>
          <span class="description text-white">Etiam consequat urna at magna bibendum, in tempor arcu fermentum vitae mi massa egestas.</span>
        </div>
      </div>
    </div>
    <!-- End Left Content -->

    <!-- Begin Right Content -->
    <div class="col-xl-4 col-lg-6 col-md-7 p-5 my-auto">
      <div class="container">
        <!-- Begin Form -->
        <div class="authentication-form mx-auto">
          <div class="logo-centered text-center">
            <a href="!#">
              <img src="assets/images/logoBGE.jpeg" alt="logo">
            </a>
          </div>
          <h3 class="text-center">Conectez Vous</h3>
          <form class="mt-5 mb-5">
            <div class="group material-input pb-2">
              <label>Email</label>
              <input type="text" class="form-control" required="">
              <span class="highlight"></span>
              <span class="bar"></span>
            </div>
            <div class="group material-input pb-2">
              <label>Password</label>
              <input type="password" class="form-control" required="">
              <span class="highlight"></span>
              <span class="bar"></span>
            </div>
          </form>
          <div class="row mt-2">
            <div class="col text-left">
              <div class="styled-checkbox">
                <input type="checkbox" name="checkbox" id="remeber">
                <label for="remeber">Remember me</label>
              </div>
            </div>
            <div class="col text-right">
              <a href="!#">Forgot Password ?</a>
            </div>
          </div>
          <div class="sign-btn text-center mt-3">
            <a class="btn btn-success" (click)="signIn()" routerLink="/profile-list">Sign in</a>
          </div>
          <div class="register text-center mt-4">
            Don't have an account?
            <br>
            <a href="!#">Create an account</a>
          </div>
        </div>
      </div>
      <!-- End Form -->
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Row -->
</div>
