<header class="d-flex vh-100 cvtek-bg">
  <div class="cvtek-overlay"></div>
  <div class="home-content container text-center justify-content-center d-flex flex-column p-5 h-100">
    <h1 class="mb-5 text-white display-3">Futur employeour proches de vous!</h1>
    <div class="container">
      <div class="col-md-8 col-sm-12 input-group mt-5 m-auto">
        <input type="text" class="form-control textDisplay" aria-label="Text input with dropdown button" placeholder="Statut :" value="" disabled/>
        <div class="input-group-append">
          <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choisissez un statut : </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" value="dem" name="Demandeur d'emploi">Demandeur d'emploi</a>
            <a class="dropdown-item" value="sta" name="Stagiaire">Stagiaire</a>
            <a class="dropdown-item" value="free" name="Freelance">Freelance</a>
            <!-- 4° To see all cv -->
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-success mt-5" id="searchButton">Lancer la recherche</button>
    </div>
  </div>
</header>
