<div class="container pt-5 pb-5">
  <div class="profile-list-wrapper position-relative pt-5">
    <h3>Profiles You are looking for</h3>
    <app-profile *ngFor="let profile of profiles"
                 [profileImage]="profile.image"
                 [profileFirstName]="profile.firstName"
                 [profileLastName]="profile.lastName"
                 [profileFormation] = "profile.formation"
                 [profileResume]="profile.resume"
                 [profileStatus]="profile.status">
    </app-profile>
  </div>
</div>
<app-footer></app-footer>
