/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html,body{
  width: 100%;
  height: 100%;
  position: relative;

  a{
    text-decoration: none;
    color: #000;
  }

  li,ol{
    list-style-type: none;
  }
  .no-padding{
    padding: 0 !important;
  }

  .cvtek-bg{
    position: relative;
    background-image: url("assets/images/startup.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .cvtek-overlay{
    background: linear-gradient(135deg,rgba(46,52,81,.4) 0%,rgba(52,40,104,.95) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .btn {
    border-radius: 0;
  }
  header{
    .form-control{
      padding: 1.2rem 1.5rem;
      height: calc(1.5em + 2rem + 2px);
      border-radius: 0;
    }
    .home-content{
      z-index: 1;
    }
  }

}
